In [1]:
import pandas as pd

from cassandra.cluster import Cluster
from cql_queries import *

In [2]:
try:
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()
except Exception as e:
    print(e)

In [3]:
try:
    session.set_keyspace('sparkify')
except Exception as e:
    print(e)

#### Query 1. Give me the artist, song title and song's length in the music app history that was heard during sessionId = 338, and itemInSession = 4

In [4]:
try:
    query1_result = session.execute(song_info_by_session_table_select, (338, 4))
    
    query1_result_data = []
    for row in query1_result:
        query1_result_data.append(row)
        
    query1_result_data_df = pd.DataFrame(query1_result_data, columns=query1_result.column_names)
    display(query1_result_data_df)
        
except Exception as e:
    print(e)

      artist                             song      length
0  Faithless  Music Matters (Mark Knight Dub)  495.307312

#### Query 2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182

In [5]:
try:
    query2_result = session.execute(song_user_info_by_user_session_table_select, (10, 182))
    
    query2_result_data = []
    for row in query2_result:
        query2_result_data.append(row)
    
    query2_resul_data_df = pd.DataFrame(query2_result_data, columns=query2_result.column_names)
    display(query2_resul_data_df)
    
except Exception as e:
    print(e)

,artist,song,firstname,lastname
0,Down To The Bone,Keep On Keepin' On,Sylvie,Cruz
1,Three Drives,Greece 2000,Sylvie,Cruz
2,Sebastien Tellier,Kilometer,Sylvie,Cruz
3,Lonnie Gordon,Catch You Baby (Steve Pitron & Max Sanna Radio...,Sylvie,Cruz

#### Query 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

In [6]:
try:
    query3_result = session.execute(user_info_by_given_song_table_select, ('All Hands Against His Own',))
    
    query3_result_data = []
    for row in query3_result:
        query3_result_data.append(row)
        
    query3_result_data_df = pd.DataFrame(query3_result_data, columns=query3_result.column_names)
    display(query3_result_data_df)
    
except Exception as e:
    print(e)

    firstname lastname
0  Jacqueline    Lynch
1       Tegan   Levine
2        Sara  Johnson

In [7]:
try:
    session.shutdown()
    cluster.shutdown()
except Exception as e:
    print(e)